*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item{
    width: 100%;
    height: 85vh;
}

/*固定圖片*/
img{
    object-fit: contain;
    opacity: 100%;
    margin: auto;
}

img:hover{
opacity: 80%;
}

div#row1 > img{
    padding: 5px;
}